{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}


<style type="text/css">

  @media all and (min-width: 40em) {
#header {
    background: url('/Media/VIV/images/hero-images/vivamos-emergency.jpg') no-repeat center center;
    background-size: cover;
    background-position: bottom center;
    background-color: #006266;
    min-height:400px;
  }
.emergency-boxes {
    min-height: 300px;
  }
}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/VIV/images/hero-images/vivamos-emergency.jpg') no-repeat center center;
    background-size: cover;
    background-position: bottom center;
    background-color: #006266;
    min-height:400px;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/VIV/images/hero-images/vivamos-emergency.jpg') no-repeat right center;
    background-size: cover;
    background-position: bottom center;
    background-color: #006266;
  }

}
</style>



<article class="content-item tid-au-destinations">
<div class="header-panel dark-green-panel" id="header">
  <div class="row">
    <div class="small-12 column">
      <!--<ul class="breadcrumb">
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/"><span itemprop="title">Vivamos</span></a>
        </li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/seguro-viagem/emergencias"><span itemprop="title">Seguro Viagem</span></a>
        </li>
      </ul>-->
      <h1>Emergência 24h</h1>

      <p>Assistência Emergencial 24h, onde quer que você esteja...</p>
    </div>
  </div>
</div>


</style>

<div class="content-panel">
  <div class="row">
    <div class="small-12 medium-6 large-6 column">

      <div class="emergency-contacts panel">
        <div class="icon-header">
          <span class="dark-green-icon"><i class="fa fa-phone"></i></span><h4>Telefones</h4>
        </div>

        <p class="highlight">Se você estiver no Brasil, ligue para:</p>
        <h2>0800-777-91-49</h2>
        <p class="highlight">Para chamadas internacionais ligue para: +55 (11) 4196-9149</p>
      </div>

    </div>

    <!--  Right Hand Column  -->
    <div class="small-12 medium-6 large-6 column">

      <div class="emergency-contacts panel">
        <div class="icon-header">
          <span class="dark-green-icon"><i class="fa fa-envelope-o"></i></span><h4>Envie um e-mail para:</h4>
        </div>

        <p class="highlight">Se você estiver no Brasil, ligue para:</p>
        <h3><a href="mailto:emergencia@vivamos.com.br">emergencia@vivamos.com.br</a></h3>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="small-12 medium-12 large-12 column">
      <h4>Quando você entrar em contato, nós precisaremos saber:</h4>
        <ul class="no-bullet" style="margin-left:20px;">
          <li><i class="fa fa-check-circle"></i>O seu nome</li>
          <li><i class="fa fa-check-circle"></i>O número do seu Certificado</li>
          <li><i class="fa fa-check-circle"></i>The nature of your emergency</li>
          <li><i class="fa fa-check-circle"></i>O que está acontecendo com você</li>
          <li><i class="fa fa-check-circle"></i>Um número de telefone para contatá-lo onde você estiver</li>
          <li><i class="fa fa-check-circle"></i>Os contatos dos médicos e hospitais que atenderam você anteriormente (se for o caso)</li>
        </ul>


    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-12 large-12 column"><h4>Uma equipe de Assistência Emergencial disponível 24 horas por dia para auxiliar você no que for preciso, onde quer que você esteja e sempre que você precisar de ajuda.</h4></div>
    <div class="small-12 medium-3 large-3 column text-center">
      <div class="emergency-boxes">
        <i class="fa fa-user-md" style="font-size: 50px"></i>
        <p><strong>Assistência Médica Emergencial</strong><br>
          Reembolso das despesas emergenciais médicas ou hospitalares causadas por acidente pessoal ou de doença contraída durante a viagem segurada.</p>
      </div>
    </div>
    <div class="small-12 medium-3 large-3 column text-center">
      <div class="emergency-boxes">
        <i class="fa fa-ambulance" style="font-size: 50px"></i>
        <p><strong>Remoção Médica</strong><br>
          Reembolso das despesas decorrentes da remoção do Segurado do local onde tenham sido prestados os primeiros socorros para o local de atendimento médico mais próximo.</p>
      </div>
    </div>
    <div class="small-12 medium-3 large-3 column text-center">
      <div class="emergency-boxes">
        <i class="fa fa-globe" style="font-size: 50px"></i>
        <p><strong>Atraso de Voo</strong><br>
          Help coordinate with embassies and keeping you in touch with your family.</p>
      </div>
    </div>
    <div class="small-12 medium-3 large-3 column text-center">
      <div class="emergency-boxes">
        <i class="fa fa-book" style="font-size: 50px"></i>
        <p><strong>When things go awry</strong><br>
          Help when your passports and travel documents are lost or stolen</p>
      </div>
    </div>
  </div>

</div>
</article>

{% endblock %}