{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}


<style type="text/css">

  @media all and (min-width: 40em) {
#header {
    background: url('/Media/VIV/images/hero-images/howtoclaim.jpg') no-repeat center center;
    background-size: cover;
    background-position: center center;
    background-color: #006266;
    min-height:400px;
  }
.emergency-boxes {
    min-height: 300px;
  }
}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/VIV/images/hero-images/howtoclaim.jpg') no-repeat center center;
    background-size: cover;
    background-position: bottom center;
    background-color: #006266;
    min-height:400px;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/VIV/images/hero-images/howtoclaim.jpg') no-repeat right center;
    background-size: cover;
    background-position: bottom center;
    background-color: #006266;
  }

}
</style>



<article class="content-item tid-au-destinations">
<div class="header-panel dark-green-panel" id="header">
  <div class="row">
    <div class="small-12 column">

      <!--<ul class="breadcrumb">
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/"><span itemprop="title">Vivamos</span></a>
        </li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/seguro-viagem/emergencias"><span itemprop="title">Seguro Viagem</span></a>
        </li>

      </ul>-->

      <h1>Seguro Viagem</h1>

      <p>Saiba como cancelar o seu Certificado de Seguro Viagem</p>
    </div>
  </div>
</div>


</style>

<div class="content-panel">
  <div class="row">
    <div class="small-12 medium-8 large-8 column">

      <h3>Se após comprar um Seguro Viagem Vivamos você mudar de ideia, independente do motivo, devolvemos o seu dinheiro integralmente, sem nenhum custo adicional. Esta é uma garantia assegurada pelo Código de Defesa do Consumidor.</h3>

      <p>Você receberá o seu dinheiro de volta se cancelar em até 7 (sete) dias, a contar da data de compra, desde que antes da data de início da sua viagem.</p>

<p>Não se esqueça que o reembolso pode demorar até 10 dias úteis para aparecer no extrato do seu cartão de crédito devido ao tempo de processamento entre diferentes instituições financeiras.</p>

<p>É muito simples, fácil e rápido, sem complicações, sem espera. Você pode fazer o cancelamento sozinho através do nosso site. Veja como:</p>

    </div>


    <div class="small-12 medium-8 large-8 column">
      <h4>Quando você entrar em contato, nós precisaremos saber:</h4>
        <ul class="no-bullet" style="margin-left:20px;margin-top:40px;">
          <li>
            <h4 class="green">1) Acesse a Área do Cliente</h4>
              <p>Informe seu e-mail e sua senha criada durante o processo de compra. Se não tiver uma senha, crie uma na hora informando seu e-mail e o número do seu Certificado de Seguro Viagem.</p>
          </li>
          <li>
            <h4 class="green">2) Selecione o Certificado</h4>
              <p>Informe seu e-mail e sua senha criada durante o processo de compra. Se não tiver uma senha, crie uma na hora informando seu e-mail e o número do seu Certificado de Seguro Viagem.</p>
          </li>
          <li>
            <h4 class="green">3) Cancele</h4>
              <p>Clique sobre o botão “Cancelar” e confirme que você não fará nenhuma solicitação de reembolsos posteriormente usando este número de Certificado de Seguro Viagem.</p>
          </li>
        </ul>


    </div>
    <div class="small-12 medium-4 large-4 column"></div>
  </div>



</div>
</article>

{% endblock %}