<div class="header panel" id="footer">
  <div class="footer-header row">
    <div class="small-12 medium-3 large-4 columns">

      <a class="main-home-link" href="/">
        <img class="x2" src="/Media/VIV/main/vivamos-logo-inverse.png" width="196" height="50">
      </a>
    </div>
    <div class="small-12 medium-5 large-5 columns">

      <ul class="follow-us-on inline-list">
        <li><a class="fa fa-facebook" href="https://www.facebook.com/TIDaustralia"></a></li>

        <li><a class="fa fa-twitter" href="https://twitter.com/TIDaustralia"></a></li>

        <li><a class="fa fa-instagram" href="http://instagram.com/tidaustralia"></a></li>

        <li><a class="fa fa-google-plus" href="https://plus.google.com/+travelinsurancedirect"></a></li>

        <li><a class="fa fa-youtube" href="https://www.youtube.com/channel/UC2FhIuqdSUxwEKiOpVqYR6Q"></a></li>

      </ul>
    </div>

    <div class="small-12 medium-4 large-3 text-right columns hide-for-small">
      <img class="coverholder-at x2" src="/Media/VIV/main/zurich-logo-inverse.png" width="200" height="60">
    </div>

  </div>

  <div class="footer-links row">
    
  
    <div class="small-12 medium-6 large-2 large-offset-4  columns">
      <ul class="travel-insurance no-bullet">
        <li class="title">
          Seguro Viagem
        </li>
        <li>
          <a href="">Planos e Cobertura</a>
        </li>
        <li>
          <a href="">Saiba o que não está coberto</a>
        </li>
        <li>
          <a href="">Perguntas e Respostas</a>
        </li>
        <li>
          <a href="">Atividades e esportes cobertos</a>
        </li>
      </ul>
    </div>
    
    <div class="small-12 medium-6 large-2 columns">
      <ul class="your-policy no-bullet">
        <li class="title">
          Seu Seguro Viagem
        </li>
        <li>
          <a href="">Emergências</a>
        </li>
        <li>
          <a href="">Cancele seu Seguro Viagem</a>
        </li>
        <li>
          <a href="">Aviso de Sinistro</a>
        </li>
        <li>
          <a href="">Manual do Segurado</a>
        </li>
        <li>
          <a href="">Área do Cliente</a>
        </li>
        
      </ul>
    </div>
    
    <div class="small-12 medium-6 large-2 columns">
      <ul class="planning-your-trip no-bullet">
        <li class="title">
          Lets Plan, Let's Go
        </li>
        <li>
          <a href="">United States</a>
        </li>
        <li>
          <a href="">Europe</a>
        </li>
        <li>
          <a href="">Asia</a>
        </li>
        <li>
          <a href="">Asia Pacific</a>
        </li>
        <li>
          <a href="">Africa</a>
        </li>
        <li>
          <a href="">Explore o mundo</a>
        </li>
      </ul>
    </div>
    
    <div class="small-12 medium-6 large-2 columns">
      <ul class="about-tid no-bullet">
        <li class="title">
          About Vivamos
        </li>
        <li>
          <a href="">Contato</a>
        </li>
        <li>
          <a href="">Sobre a Vivamos</a>
        </li>
        <li>
          <a href="">Vivamos na Mídia</a>
        </li>
        <li>
          <a href="">Parcerias</a>
        </li>
        <li>
          <a href="">Política de Privacidade</a>
        </li>
        <li>
          <a href="">Termos Legais de Uso</a>
        </li>
        <li>
          <a href="">Mapa do Site</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="panel" id="footer-legal">
  <div class="row">  
    <div class="legal small-12 columns">
      Informação, dúvida, reclamação e cancelamento do Seguro, ligue para o Serviço de Atendimento ao Consumidor (SAC) 0800 073 7900, disponível 24 (vinte e quatro) horas por dia e 7 (sete) dias por semana. Pessoas com deficiência auditiva ou de fala deverão ligar para: 0800 275 8585. Se desejar a reavaliação da solução apresentada, entre em contato com nossa Ouvidoria pelo site www.zurichseguros.com.br, também pelo telefone 0800 770 1061 de segunda à sexta das 09h00 às 18h00 ou Correspondências: Av. Getúlio Vargas, 1.420 - 5º andar - Funcionários -Belo Horizonte - MG - CEP: 30112-021. Em caso de dúvida de seguros ou atualizações dos dados cadastrais, ligue para XXXXXXXX. SAC: XXXXXXXX. Ouvidoria: XXXXXXXX. Este seguro é por prazo determinado e não será renovado na data de vencimento. O segurado poderá consultar a situação cadastral de seu corretor de seguros, no site www.susep.gov.br, por meio do número de seu registro na SUSEP, nome completo, CNPJ ou CPF. O registro do plano de seguro na SUSEP não implica, por parte da Autarquia, incentivo ou recomendação a sua comercialização. SUSEP - Superintendência de Seguros Privados - Autarquia Federal responsável pela fiscalização, normatização e controle dos mercados de seguro, previdência complementar aberta, capitalização, resseguro e corretagem de seguros. Atendimento Exclusivo ao Consumidor: 0800 021 84 84 / www.susep.gov.br. As condições contratuais deste produto encontram-se registradas na Susep de acordo com o número de processo constante da proposta e poderão ser consultadas no endereço eletrônico www.susep.gov.br. Este produto poderá ser cancelado em caso de arrependimento, no prazo de 7 (sete) dias, a contar da data da contratação, com direito à devolução dos valores pagos. Este cancelamento não se aplica se o segurado houver iniciado a viagem dentro do período de arrependimento. Atenção: O seguro viagem não é seguro saúde! Leia atentamente as condições contratuais, observando seus direitos e obrigações, bem como o limite do capital segurado contratado para cada cobertura.
    </div>
  </div>
    
</div>