<div class="header panel" id="footer">
  <div class="footer-header row">
    <div class="small-12 medium-3 large-3 columns">

      <a class="main-home-link" href="/">
        <img class="x2" src="/Media/Default/main/tid-logo-white.png" width="196" height="50">
      </a>
    </div>
    <div class="small-12 medium-5 large-6 columns">

      <ul class="follow-us-on inline-list">
        <li><a class="fa fa-facebook" href="https://www.facebook.com/TIDaustralia"></a></li>

        <li><a class="fa fa-twitter" href="https://twitter.com/TIDaustralia"></a></li>

        <li><a class="fa fa-instagram" href="http://instagram.com/tidaustralia"></a></li>

        <li><a class="fa fa-google-plus" href="https://plus.google.com/+travelinsurancedirect"></a></li>

        <li><a class="fa fa-youtube" href="https://www.youtube.com/channel/UC2FhIuqdSUxwEKiOpVqYR6Q"></a></li>

      </ul>
    </div>

    <div class="small-12 medium-4 large-3 text-right columns hide-for-small">
      <img class="coverholder-at x2" src="/Media/Default/main/lloyds-logo-white.png" width="202" height="40">
    </div>

  </div>

  <div class="footer-links row">
    
    <div class="small-12 medium-6 large-3 columns">
      <ul class="travel-insurance no-bullet">
        <li class="title">
          Travel Insurance
        </li>
        <li>
          <a href="http://service.travelinsurancedirect.com.au/">Customer service</a>
        </li>
        <li>
          <a href="#section1" class="scroll-to-get-a-quote">Get a Quote</a>
        </li>
        <li>
          <a href="/what-we-cover">What we cover</a>
        </li>
        <li>
          <a href="/what-we-dont-cover">What we don't cover</a>
        </li>
        <li>
          <a href="/annual-travel-insurance">Annual Multi Trip</a>
        </li>
        <li>
          <a href="/group-travel-insurance">Group Travel</a>
       </li>
      </ul>
    </div>
    
    <div class="small-12 medium-6 large-3 columns">
      <ul class="your-policy no-bullet">
        <li class="title">
          Your Policy
        </li>
        <li>
          <a href="/in-an-emergency">Help &amp; emergencies</a>
        </li>
        <li>
          <a href="http://service.travelinsurancedirect.com.au/customer/portal/articles/538193-extending-your-policy">Extend your policy</a>
        </li>
        <li>
          <a href="http://service.travelinsurancedirect.com.au/customer/portal/articles/538218-cancelling-my-policy">Cancel your policy</a>
        </li>
        <li>
          <a href="/how-to-make-a-claim">How to claim</a>
        </li>
        <li>
          <a href="/pds" target="blank">PDS</a>
        </li>
        <li>
          <a class="login" href="https://www.travelinsurancedirect.com.au/Member">Log in</a>
        </li>
      </ul>
    </div>
    
    <div class="small-12 medium-6 large-3 columns">
      <ul class="planning-your-trip no-bullet">
        <li class="title">
          Planning Your Trip
        </li>
        <li>
          <a href="http://places.travelinsurancedirect.com.au/locations/40439/map-of-united-states">United States</a>
        </li>
        <li>
          <a href="http://places.travelinsurancedirect.com.au/locations/55439/map-of-bali">Bali</a>
        </li>
        <li>
          <a href="http://places.travelinsurancedirect.com.au/locations/5130/map-of-thailand">Thailand</a>
        </li>
        <li>
          <a href="http://places.travelinsurancedirect.com.au/locations/25578/map-of-united-kingdom">United Kingdom</a>
        </li>
        <li>
          <a href="http://places.travelinsurancedirect.com.au/locations/53299/map-of-fiji">Fiji</a>
        </li>
      </ul>
    </div>
    
    <div class="small-12 medium-6 large-3 columns">
      <ul class="about-tid no-bullet">
        <li class="title">
          About TID
        </li>
        <li>
          <a href="/about-travel-insurance-direct">About us</a>
        </li>
        <li>
          <a href="/TIDbits-blog">TIDbits blog</a>
        </li>
        <li>
          <a href="http://service.travelinsurancedirect.com.au/customer/portal/emails/new">Contact Us</a>
        </li>
        <li>
          <a href="/sitemap">Site map</a>
        </li>
        <li>
          <a href="/privacy">Privacy</a>
        </li>
        <li>
          <a href="/ViewSwitcher/SwitchView?mobile=True&amp;returnUrl=%2Fwhat-we-cover" rel="external">Mobile site</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">  
    <div class="legal small-12 columns">
      Travel Insurance Direct ® is a registered trademark of Travel Insurance Direct Pty Limited. Travel Insurance Direct Pty Limited ABN 30 121 659 470 AR305589, is an authorised representative of Cerberus Special Risks Pty Limited ABN 81 115 932 173, AFS Licence No. 308461. This is general advice and you should consider if this product suits your needs. Before you buy, please read the Product Disclosure Statement. This insurance is underwritten by certain underwriters at Lloyd’s.
    </div>
  </div>
    
</div>