<div class="header panel" id="footer">
  <div class="footer-header row">
    <div class="small-12 medium-3 large-4 columns">
      <a class="main-home-link" href="/">
        <img class="x2" src="/Media/VIV/main/vivamos-logo-inverse.png" width="196" height="50">
      </a>
    </div>
    <div class="small-12 medium-5 large-5 columns">
      <ul class="follow-us-on inline-list">
        <li><a class="fa fa-facebook" href="https://www.facebook.com/seguroviagemvivamos"></a></li>
        <li><a class="fa fa-twitter" href="https://twitter.com/SegViag_Vivamos"></a></li>
        <li><a class="fa fa-pinterest" href="http://www.pinterest.com/segviag_vivamos"></a></li>
        <li><a class="fa fa-linkedin" href="https://www.linkedin.com/company/vivamos"></a></li>
        <li><a class="fa fa-instagram" href="http://instagram.com/seguro_viagem_vivamos/"></a></li>
        <li><a class="fa fa-google-plus" href="https://www.google.com/+VivamosSeguroViagem"></a></li>
        <li><a class="fa fa-youtube" href="http://www.youtube.com/channel/UCtne4NVHnbkJawNKJXs2D9A "></a></li>
      </ul>
    </div>
    <div class="small-12 medium-4 large-3 text-right columns hide-for-small">
      <img class="coverholder-at x2" src="/Media/VIV/main/zurich-logo-inverse.png" width="200" height="60">
    </div>
  </div>
</div>
<div class="panel" id="footer-legal">
  <div class="row">
    <div class="legal small-12 columns">
      <p>Seguro Viagem comercializado por World Experiences Seguros de Viagem Brasil Ltda. (CNPJ: 21.346.969/0001-99), localizada na Rua Bela Cintra, nº 756, 4º andar, São Paulo – SP e garantido por Zurich Minas Brasil Seguros S/A (CNPJ: 17.197.385/0001-21) através do Processo SUSEP 15414.004128/98-16. A aprovação deste plano pela SUSEP não implica, por parte da Autarquia, em incentivo ou recomendação a sua aquisição ou comercialização.</p>
      <p>O uso deste site está sujeito às regras descritas no <a href="/termos-legais">Termo de Uso</a> e na <a href="/politica-de-privacidade">Política de Privacidade.</a></p>
      <p>Para acessar a integra das Condições Gerais do Seguro Viagem registrado e aprovado pela SUSEP, <a href="/Media/VIV/documents/Condicoes_Gerais_Seguro_Zurich_Viagem.pdf">clique aqui.</a><p>
    </div>
  </div>
</div>