<h3>Get a quote</h3>
<div class="row qqw-one-line">
  <div class="small-12 column panel dark-green-panel">


        <div class="qqc-wrapper solid no-heading">
          <div class="panel-content">
            <script src="https://public-web-viv.uat.wng.me//Turnstile/GetPartnerWidget" async></script>
            <div id="public-insurance-quote-editor"></div>
          </div>
        </div>



<!--
      <div class="qqc-wrapper solid no-heading">
        <div class="panel-content">
          <form action="/Home/MultiTarget" id="qqc-form" method="post">            <div id="quote-session-tokens">


<input name="SessionTokenHomeModel" type="hidden" value="6ef51b00-5cd0-48a0-97be-22b38f553621">
            </div>




<div class="qqc int-domestic">
  <div class="qqc-field where">
    <h5><span>Para onde você vai viajar?</span></h5>
<div class="input-group" id="quote-destination">
      <ul id="selected-destinations"></ul>
      <select name="SelectedCountryId" disabled="disabled" style="display: none;">
        <option>Escolha ou digite o nome dos países que você visitará</option>
            <option value="2" data-sort="2">
              Afeganistão
            </option>
            <option value="254" data-sort="254">
              África
            </option>
            <option value="244" data-sort="244">
              África do Sul
            </option>
            <option value="6" data-sort="6">
              Albânia
            </option>
            <option value="59" data-sort="59">
              Alemanha
            </option>
            <option value="251" data-sort="251">
              América Latina
            </option>
            <option value="7" data-sort="7">
              Andorra
            </option>
            <option value="3" data-sort="3">
              Angola
            </option>
            <option value="4" data-sort="4">
              Anguilla
            </option>
            <option value="255" data-sort="255">
              Antarctic Flyover
            </option>
            <option value="13" data-sort="13">
              Antártida
            </option>
            <option value="15" data-sort="15">
              Antígua e Barbuda
            </option>
            <option value="191" data-sort="191">
              Arábia Saudita
            </option>
            <option value="64" data-sort="64">
              Argélia
            </option>
            <option value="10" data-sort="10">
              Argentina
            </option>
            <option value="11" data-sort="11">
              Armênia
            </option>
            <option value="1" data-sort="1">
              Aruba
            </option>
            <option value="252" data-sort="252" data-aliases="Borneo">
              Ásia
            </option>
            <option value="16" data-sort="16" data-aliases="Melbourne|Tasmania">
              Austrália
            </option>
            <option value="17" data-sort="17">
              Austria
            </option>
            <option value="18" data-sort="18">
              Azerbaijão
            </option>
            <option value="26" data-sort="26">
              Bahamas
            </option>
            <option value="25" data-sort="25">
              Bahrein
            </option>
            <option value="247" data-sort="247">
              Bali
            </option>
            <option value="23" data-sort="23">
              Bangladesh
            </option>
            <option value="34" data-sort="34">
              Barbados
            </option>
            <option value="20" data-sort="20">
              Bélgica
            </option>
            <option value="30" data-sort="30">
              Belize
            </option>
            <option value="21" data-sort="21">
              Benim
            </option>
            <option value="31" data-sort="31">
              Bermuda
            </option>
            <option value="29" data-sort="29">
              Bielorrússia
            </option>
            <option value="32" data-sort="32">
              Bolívia
            </option>
            <option value="27" data-sort="27">
              Bósnia e Herzegovina
            </option>
            <option value="38" data-sort="38">
              Botswana
            </option>
            <option value="33" data-sort="33">
              Brasil
            </option>
            <option value="35" data-sort="35">
              Brunei
            </option>
            <option value="24" data-sort="24">
              Bulgária
            </option>
            <option value="22" data-sort="22">
              Burkina Faso
            </option>
            <option value="19" data-sort="19">
              Burundi
            </option>
            <option value="36" data-sort="36">
              Butão
            </option>
            <option value="52" data-sort="52">
              Cabo Verde
            </option>
            <option value="46" data-sort="46">
              Camarões
            </option>
            <option value="119" data-sort="119">
              Camboja
            </option>
            <option value="40" data-sort="40">
              Canadá
            </option>
            <option value="214" data-sort="214">
              Chade
            </option>
            <option value="43" data-sort="43">
              Chile
            </option>
            <option value="44" data-sort="44">
              China
            </option>
            <option value="57" data-sort="57">
              Chipre
            </option>
            <option value="194" data-sort="194">
              Cingapura
            </option>
            <option value="50" data-sort="50">
              Colômbia
            </option>
            <option value="51" data-sort="51">
              Comores
            </option>
            <option value="48" data-sort="48">
              Congo
            </option>
            <option value="181" data-sort="181" data-aliases="North Korea (Democratic people's Republic of Korea)">
              Coréia do Norte
            </option>
            <option value="122" data-sort="122" data-aliases="South Korea (Republic of Korea)">
              Coréia do Sul
            </option>
            <option value="45" data-sort="45">
              Costa do Marfim
            </option>
            <option value="53" data-sort="53">
              Costa Rica
            </option>
            <option value="99" data-sort="99">
              Croácia
            </option>
            <option value="54" data-sort="54">
              Cuba
            </option>
            <option value="62" data-sort="62">
              Dinamarca
            </option>
            <option value="60" data-sort="60">
              Djibouti
            </option>
            <option value="61" data-sort="61">
              Dominica
            </option>
            <option value="66" data-sort="66">
              Egito
            </option>
            <option value="200" data-sort="200">
              El Salvador
            </option>
            <option value="9" data-sort="9" data-aliases="Afeganistão|Dubai|Abu Dhabi">
              Emirados Árabes Unidos
            </option>
            <option value="65" data-sort="65">
              Equador
            </option>
            <option value="67" data-sort="67">
              Eritreia
            </option>
            <option value="207" data-sort="207">
              Eslováquia
            </option>
            <option value="208" data-sort="208">
              Eslovênia
            </option>
            <option value="69" data-sort="69" data-aliases="Ibiza">
              Espanha
            </option>
            <option value="232" data-sort="232" data-aliases="Bermuda|Brasil|Brunei|Butão|Los Angeles|USA">
              Estados Unidos
            </option>
            <option value="70" data-sort="70">
              Estônia
            </option>
            <option value="71" data-sort="71">
              Etiópia
            </option>
            <option value="250" data-sort="250">
              Europa
            </option>
            <option value="73" data-sort="73">
              Fiji
            </option>
            <option value="176" data-sort="176">
              Filipinas
            </option>
            <option value="72" data-sort="72">
              Finlândia
            </option>
            <option value="75" data-sort="75" data-aliases="Lifou|Paris|Loyalty Islands|Isle of Pines">
              França
            </option>
            <option value="78" data-sort="78">
              Gabão
            </option>
            <option value="86" data-sort="86">
              Gâmbia
            </option>
            <option value="82" data-sort="82">
              Gana
            </option>
            <option value="80" data-sort="80">
              Geórgia
            </option>
            <option value="83" data-sort="83">
              Gibraltar
            </option>
            <option value="90" data-sort="90">
              Granada
            </option>
            <option value="89" data-sort="89">
              Grécia
            </option>
            <option value="91" data-sort="91">
              Groenlândia
            </option>
            <option value="85" data-sort="85">
              Guadalupe
            </option>
            <option value="94" data-sort="94">
              Guam
            </option>
            <option value="92" data-sort="92">
              Guatemala
            </option>
            <option value="81" data-sort="81">
              Guernsey
            </option>
            <option value="95" data-sort="95">
              Guiana
            </option>
            <option value="93" data-sort="93">
              Guiana Francesa
            </option>
            <option value="84" data-sort="84">
              Guiné
            </option>
            <option value="87" data-sort="87">
              Guiné Bissau
            </option>
            <option value="88" data-sort="88">
              Guiné Equatorial
            </option>
            <option value="100" data-sort="100">
              Haiti
            </option>
            <option value="166" data-sort="166" data-aliases="Burkina Faso|Bangladesh|The Netherlands">
              Holanda
            </option>
            <option value="98" data-sort="98">
              Honduras
            </option>
            <option value="96" data-sort="96" data-aliases="Austrália|Austria">
              Hong Kong
            </option>
            <option value="101" data-sort="101" data-aliases="Budapest">
              Hungria
            </option>
            <option value="243" data-sort="243">
              Iêmen
            </option>
            <option value="37" data-sort="37">
              Ilha Bouvet
            </option>
            <option value="55" data-sort="55">
              Ilha Christmas
            </option>
            <option value="97" data-sort="97">
              Ilha Heard e Ilhas McDonald
            </option>
            <option value="162" data-sort="162">
              Ilha Norfolk
            </option>
            <option value="5" data-sort="5">
              Ilhas Åland
            </option>
            <option value="56" data-sort="56">
              Ilhas Cayman
            </option>
            <option value="41" data-sort="41">
              Ilhas Cocos (Keeling)
            </option>
            <option value="49" data-sort="49" data-aliases="Anguilla">
              Ilhas Cook
            </option>
            <option value="76" data-sort="76">
              Ilhas Feroe
            </option>
            <option value="195" data-sort="195">
              Ilhas Geórgia do Sul e Sandwich do Sul
            </option>
            <option value="74" data-sort="74" data-aliases="Ilhas Åland ">
              Ilhas Malvinas
            </option>
            <option value="143" data-sort="143">
              Ilhas Marshall
            </option>
            <option value="230" data-sort="230">
              Ilhas Menores Distantes dos Estados Unidos
            </option>
            <option value="174" data-sort="174" data-aliases="Pitcairn Island">
              Ilhas Pitcairn
            </option>
            <option value="198" data-sort="198">
              Ilhas Salomão
            </option>
            <option value="238" data-sort="238">
              Ilhas Virgens Americanas
            </option>
            <option value="237" data-sort="237">
              Ilhas Virgens Britânicas
            </option>
            <option value="104" data-sort="104">
              Índia
            </option>
            <option value="102" data-sort="102">
              Indonésia
            </option>
            <option value="107" data-sort="107">
              Irâ
            </option>
            <option value="108" data-sort="108">
              Iraque
            </option>
            <option value="106" data-sort="106">
              Irlanda
            </option>
            <option value="109" data-sort="109">
              Islândia
            </option>
            <option value="110" data-sort="110">
              Israel
            </option>
            <option value="111" data-sort="111">
              Itália
            </option>
            <option value="112" data-sort="112">
              Jamaica
            </option>
            <option value="115" data-sort="115">
              Japão
            </option>
            <option value="113" data-sort="113">
              Jersey
            </option>
            <option value="114" data-sort="114">
              Jordânia
            </option>
            <option value="116" data-sort="116">
              Kazaquistão
            </option>
            <option value="120" data-sort="120">
              Kiribati
            </option>
            <option value="123" data-sort="123">
              Kuwait
            </option>
            <option value="124" data-sort="124">
              Laos
            </option>
            <option value="131" data-sort="131">
              Lesoto
            </option>
            <option value="134" data-sort="134">
              Letônia
            </option>
            <option value="125" data-sort="125">
              Líbano
            </option>
            <option value="126" data-sort="126">
              Libéria
            </option>
            <option value="127" data-sort="127">
              Líbia
            </option>
            <option value="129" data-sort="129">
              Liechtenstein
            </option>
            <option value="132" data-sort="132">
              Lituânia
            </option>
            <option value="133" data-sort="133">
              Luxemburgo
            </option>
            <option value="135" data-sort="135" data-aliases="Macau">
              Macau
            </option>
            <option value="144" data-sort="144">
              Macedônia
            </option>
            <option value="140" data-sort="140">
              Madagascar
            </option>
            <option value="157" data-sort="157" data-aliases="Kuala Lumpur">
              Malásia
            </option>
            <option value="156" data-sort="156">
              Malawi
            </option>
            <option value="141" data-sort="141">
              Maldivas
            </option>
            <option value="145" data-sort="145">
              Mali
            </option>
            <option value="146" data-sort="146">
              Malta
            </option>
            <option value="150" data-sort="150">
              Marianas Setentrionais
            </option>
            <option value="137" data-sort="137">
              Marrocos
            </option>
            <option value="154" data-sort="154">
              Martinica
            </option>
            <option value="155" data-sort="155">
              Maurícia
            </option>
            <option value="152" data-sort="152">
              Mauritânia
            </option>
            <option value="158" data-sort="158">
              Mayotte
            </option>
            <option value="142" data-sort="142">
              México
            </option>
            <option value="77" data-sort="77">
              Micronésia
            </option>
            <option value="151" data-sort="151">
              Moçambique
            </option>
            <option value="139" data-sort="139">
              Moldávia
            </option>
            <option value="138" data-sort="138">
              Mônaco
            </option>
            <option value="149" data-sort="149">
              Mongólia
            </option>
            <option value="148" data-sort="148">
              Montenegro
            </option>
            <option value="153" data-sort="153">
              Montserrat
            </option>
            <option value="249" data-sort="249">
              Mundial
            </option>
            <option value="147" data-sort="147" data-aliases="Bélgica">
              Myanmar
            </option>
            <option value="159" data-sort="159">
              Namíbia
            </option>
            <option value="169" data-sort="169">
              Nauru
            </option>
            <option value="168" data-sort="168">
              Nepal
            </option>
            <option value="164" data-sort="164">
              Nicarágua
            </option>
            <option value="161" data-sort="161">
              Niger
            </option>
            <option value="163" data-sort="163">
              Nigéria
            </option>
            <option value="165" data-sort="165">
              Niue
            </option>
            <option value="167" data-sort="167">
              Noruega
            </option>
            <option value="160" data-sort="160" data-aliases="Benim">
              Nova Caledônia
            </option>
            <option value="170" data-sort="170" data-aliases="Bulgária|Bahrein">
              Nova Zelândia
            </option>
            <option value="253" data-sort="253" data-aliases="South Pacific|Pacific Islands">
              Oceania
            </option>
            <option value="171" data-sort="171">
              Omã
            </option>
            <option value="177" data-sort="177">
              Palau
            </option>
            <option value="173" data-sort="173">
              Panamá
            </option>
            <option value="178" data-sort="178" data-aliases="Bahamas">
              Papua Nova Guiné
            </option>
            <option value="172" data-sort="172">
              Paquistão
            </option>
            <option value="183" data-sort="183">
              Paraguai
            </option>
            <option value="175" data-sort="175">
              Peru
            </option>
            <option value="185" data-sort="185">
              Polinésia Francesa
            </option>
            <option value="179" data-sort="179">
              Polônia
            </option>
            <option value="180" data-sort="180">
              Porto Rico
            </option>
            <option value="182" data-sort="182">
              Portugal
            </option>
            <option value="186" data-sort="186">
              Qatar
            </option>
            <option value="117" data-sort="117">
              Quênia
            </option>
            <option value="118" data-sort="118">
              Quirguistão
            </option>
            <option value="79" data-sort="79" data-aliases="Albânia|Andorra|Argentina|Armênia|Samoa Americana|Antártida|Terras Austrais e Antárticas Francesas|Antígua e Barbuda|Madagascar">
              Reino Unido
            </option>
            <option value="39" data-sort="39">
              República Centro-Africana
            </option>
            <option value="47" data-sort="47">
              República Democrática do Congo
            </option>
            <option value="63" data-sort="63">
              República Dominicana
            </option>
            <option value="58" data-sort="58" data-aliases="Prague">
              República Tcheca
            </option>
            <option value="187" data-sort="187">
              Reunião
            </option>
            <option value="188" data-sort="188">
              Romênia
            </option>
            <option value="190" data-sort="190">
              Ruanda
            </option>
            <option value="189" data-sort="189">
              Rússia
            </option>
            <option value="68" data-sort="68">
              Saara Ocidental
            </option>
            <option value="136" data-sort="136" data-aliases="Sint Maarten">
              Saint Martin
            </option>
            <option value="203" data-sort="203">
              Saint-Pierre e Miquelon
            </option>
            <option value="242" data-sort="242" data-aliases="Ilha Bouvet">
              Samoa
            </option>
            <option value="12" data-sort="12">
              Samoa Americana
            </option>
            <option value="201" data-sort="201">
              San Marino
            </option>
            <option value="196" data-sort="196" data-aliases="Ascension Island|Saint Helena|Tristan da Cunha">
              Santa Helena, Ascensão e Tristão da Cunha
            </option>
            <option value="128" data-sort="128">
              Santa Lúcia
            </option>
            <option value="234" data-sort="234">
              Santa Sé
            </option>
            <option value="28" data-sort="28">
              São Bartolomeu (St. Barths)
            </option>
            <option value="121" data-sort="121" data-aliases="Azerbaijão">
              São Cristóvão e Nevis
            </option>
            <option value="205" data-sort="205">
              São Tomé e Príncipe
            </option>
            <option value="235" data-sort="235">
              São Vicente e Granadinas
            </option>
            <option value="211" data-sort="211">
              Seicheles
            </option>
            <option value="193" data-sort="193">
              Senegal
            </option>
            <option value="199" data-sort="199">
              Serra Leoa
            </option>
            <option value="204" data-sort="204">
              Sérvia
            </option>
            <option value="212" data-sort="212">
              Síria
            </option>
            <option value="202" data-sort="202">
              Somália
            </option>
            <option value="130" data-sort="130" data-aliases="Burundi">
              Sri Lanka
            </option>
            <option value="210" data-sort="210">
              Suazilândia
            </option>
            <option value="192" data-sort="192" data-aliases="South Sudan">
              Sudão
            </option>
            <option value="209" data-sort="209">
              Suécia
            </option>
            <option value="42" data-sort="42">
              Suíça
            </option>
            <option value="206" data-sort="206">
              Suriname
            </option>
            <option value="197" data-sort="197">
              Svalbard e Jan Mayen
            </option>
            <option value="216" data-sort="216" data-aliases="São Bartolomeu (St. Barths)|Phuket">
              Tailândia
            </option>
            <option value="248" data-sort="248">
              Taiti
            </option>
            <option value="226" data-sort="226">
              Taiwan
            </option>
            <option value="217" data-sort="217">
              Tajiquistão
            </option>
            <option value="227" data-sort="227">
              Tanzânia
            </option>
            <option value="14" data-sort="14">
              Terras Austrais e Antárticas Francesas
            </option>
            <option value="105" data-sort="105">
              Território Britânico do Oceano Índico
            </option>
            <option value="184" data-sort="184" data-aliases="Palestine">
              Território Palestino
            </option>
            <option value="220" data-sort="220" data-aliases="Bielorrússia">
              Timor Leste
            </option>
            <option value="215" data-sort="215">
              Togo
            </option>
            <option value="218" data-sort="218">
              Tokelau
            </option>
            <option value="221" data-sort="221">
              Tonga
            </option>
            <option value="222" data-sort="222">
              Trinidad e Tobago
            </option>
            <option value="223" data-sort="223">
              Tunísia
            </option>
            <option value="213" data-sort="213">
              Turks e Caicos
            </option>
            <option value="219" data-sort="219">
              Turquemenistão
            </option>
            <option value="224" data-sort="224" data-aliases="Istanbul">
              Turquia
            </option>
            <option value="225" data-sort="225">
              Tuvalu
            </option>
            <option value="229" data-sort="229">
              Ucrânia
            </option>
            <option value="228" data-sort="228">
              Uganda
            </option>
            <option value="231" data-sort="231">
              Uruguai
            </option>
            <option value="233" data-sort="233">
              Uzbequistão
            </option>
            <option value="240" data-sort="240">
              Vanuatu
            </option>
            <option value="236" data-sort="236">
              Venezuela
            </option>
            <option value="239" data-sort="239">
              Vietnã
            </option>
            <option value="241" data-sort="241">
              Wallis e Futuna
            </option>
            <option value="245" data-sort="245">
              Zâmbia
            </option>
            <option value="246" data-sort="246">
              Zimbabwe
            </option>

      </select><input type="text" class="pickerInput placeholder" autocomplete="off">

</div>


  </div>
    <div class="qqc-field when no-heading">
        <h5><span>Quando você vai viajar?</span></h5>

        <div class="input-group departure-date" id="quote-departure-date">
            <label> Data de Ida </label>
            <div class="input-with-icon">
                <select id="ActiveQuoteDto_DepartureDateDay" name="ActiveQuoteDto.DepartureDateDay" style="display: none;"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option selected="selected" value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
                <select id="ActiveQuoteDto_DepartureDateMonth" name="ActiveQuoteDto.DepartureDateMonth" style="display: none;"><option value="1">jan</option>
<option value="2">fev</option>
<option value="3">mar</option>
<option value="4">abr</option>
<option value="5">mai</option>
<option value="6">jun</option>
<option value="7">jul</option>
<option selected="selected" value="8">ago</option>
<option value="9">set</option>
<option value="10">out</option>
<option value="11">nov</option>
<option value="12">dez</option>
</select>
                <select id="ActiveQuoteDto_DepartureDateYear" name="ActiveQuoteDto.DepartureDateYear" style="display: none;"><option selected="selected" value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
</select><input type="text" autocomplete="off" class="departure-date-input" id="departure-date-input">
                <span></span>
            </div>
</div>

<div class="input-group return-date" id="quote-return-date">
            <label> Data de Volta </label>
            <div class="input-with-icon">
                <select id="ActiveQuoteDto_ReturnDateDay" name="ActiveQuoteDto.ReturnDateDay" style="display: none;"><option value="1">1</option>
<option selected="selected" value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
                <select id="ActiveQuoteDto_ReturnDateMonth" name="ActiveQuoteDto.ReturnDateMonth" style="display: none;"><option value="1">jan</option>
<option value="2">fev</option>
<option value="3">mar</option>
<option value="4">abr</option>
<option value="5">mai</option>
<option value="6">jun</option>
<option value="7">jul</option>
<option value="8">ago</option>
<option selected="selected" value="9">set</option>
<option value="10">out</option>
<option value="11">nov</option>
<option value="12">dez</option>
</select>
                <select id="ActiveQuoteDto_ReturnDateYear" name="ActiveQuoteDto.ReturnDateYear" style="display: none;"><option selected="selected" value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
</select><input type="text" autocomplete="off" class="return-date-input" id="return-date-input">
                <span></span>
            </div>
</div>

    </div>
        <div class="qqc-field ages">
            <h5><span>Quem é que vai?</span></h5>


            <select id="ActiveQuoteDto_TravellerTypeId" name="ActiveQuoteDto.TravellerTypeId"><option selected="selected" value="1">Individual</option>
<option value="2">Duplo</option>
<option value="3">Família</option>
</select>

        </div>




  <div class="actions">
    <div class="input-group">
      <button type="submit" class="continue buy-button-primary" name="SubmitQuickQuote">
        Pesquisar <span></span>
      </button>
    </div>

    <input type="hidden" class="hidden-country-ids" name="RawCountryIds" id="RawCountryIds">
    <input id="ActiveQuoteDto_PromotionCode" name="ActiveQuoteDto.PromotionCode" type="hidden" value="">
  </div>
</div>

</form>
        </div>
      </div>
-->


    </div>
</div>