<div class="row qqw-contained">
    <div class="small-12 column green-panel">
        <div id="quick-quote">
            <h2>Get a quote</h2>
            <script src="http://publicapp-web-viv.uat.wng.local/Turnstile/GetPartnerWidget" async></script>
            <div id="public-insurance-quote-editor"></div>
        </div>
    </div>
</div>

