<div class="panel right-col-panel">
  <h4>Receba por e-mail ofertas e informações exclusivas da Vivamos</h4>
  <form>
    <div class="row">
      <div class="small-12 columns">
        <input id="" name="" type="text" placeholder="Digite seu e-mail" class="radius" />
        <button type="submit" class="button dark-green expand" name="SubmitSignUpForm">Inscreva-se</button>
      </div>
    </div>
  </form>
</div>