body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass Error: File to read not found or unreadable: \\Users\\CPotter\\Documents\\Source\\VIV-mix\\bower_components\\foundation\\scss\\desk-style.sass \A '; } 
                            
                            body * { 
                            display: none; 
                            } 