{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}

<article class="content-item tid-au-destinations">
<div class="header-panel dark-green-panel" id="header">
  <div class="row">
    <div class="small-12 column">
      
      <h1>Travel Insurance for Bali</h1>
      
      <p>Bali is a wonderful&nbsp;travel destination. Summer or winter, business or holiday, Bali offers a fantastic travel experience.&nbsp;</p>
    </div>
  </div>
</div>

<div class="content-panel">
  <div class="row">
    <div class="small-12 medium-9 large-8 column">
      
        

        
        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
          <li><img src="http://www.travelinsurancedirect.com.au//Media/Default/JPGs/TID-bali1.jpg" class="small-full-width"></li>
          <li class="show-for-medium-up"><img src="http://www.travelinsurancedirect.com.au//Media/Default/JPGs/TID-bali2.jpg"></li>
          <li class="show-for-medium-up"><img src=
        "http://www.travelinsurancedirect.com.au//Media/Default/JPGs/TID-bali3.jpg"></li>
        </ul>

        <p>It's one of the most popular overseas holiday spots for Australians - it's cheap to get there and the warm temperatures, wide variety of accommodation, well-priced food
        and shopping make it a very desirable destination.&nbsp;</p>

        <p>At TID we get lots of questions about coverage for riding motorbikes and we receive plenty of claims from customers who get Bali belly and even dengue fever. Make sure
        you read our advice for travellers to Bali and when you buy your insurance you'll get our free Tripwise app with even more tips for travelling to Bali.</p>


        <h3>Motorbikes in Bali</h3>

        <p>Riding motorbikes in Bali can seem like an easy and fun thing to do. What you have to ask is <a href=
        "http://service.travelinsurancedirect.com.au/customer/portal/articles/528596-cover-for-motorcycle-riding">"Am I covered ...?"</a></p>

        <h3>How to avoid dengue fever in Bali</h3>

        <p>Dengue fever is not something you want to return back to Australia with.</p>

        <p><a href="http://www.travelinsurancedirect.com.au/travel-safety-alerts/bali-dengue-fever-what-to-do">Bali Dengue Fever Alert</a><br>
        <a href="http://www.travelinsurancedirect.com.au/travel-safety-alerts/bali-dengue-fever-what-to-do">Bali Dengue Fever: What to Do</a></p>

        <h3>Bali travel tips</h3>

        <p>Where to go &amp; what to do on your Bali holiday:</p>

        <p><a href="/TIDbits-blog/bali-top-5">Bali Top 5</a><br>
        <a href="/TIDbits-blog/travel-tips-for-your-bali-holiday">Travel Tips for your Bali Holiday</a></p>

        <h3>Bali Places</h3>

        <p>Where to go &amp; what to do on your Bali holiday:</p>

        <ul>
          <li>
            <a href="http://places.travelinsurancedirect.com.au/questions/indonesia/17374/best-spots-for-snorkeling-in-bali-for-a-someone-on-a-budget">Best spots for
            snorkelling</a>
          </li>

          <li>
            <a href="http://places.travelinsurancedirect.com.au/questions/indonesia/4584/are-there-decent-surfboard-hire-options-in-bali">Best places to rent surfboards</a>
          </li>

          <li>
            <a href="http://places.travelinsurancedirect.com.au/questions/indonesia/390/when-is-the-best-time-to-travel-to-bali">The best time to go to Bali</a>
          </li>

          <li>
            <a href="http://places.travelinsurancedirect.com.au/questions/indonesia/17554/do-we-need-an-advance-visa-for-travel-in-bali-indonesia-if-so-where-do-we-get-them">Do I
            need a visa?</a>
          </li>
        </ul>

        <p><b>Buy your travel insurance with TID</b> so that you can travel with confidence.</p>
        

<!--   TID QQWidget Container    -->

<div class="row qqw-contained">
  <div class="small-12 column dark-green-panel">
    
    <!--  Include QQWidget  -->
    {% include "qqw" %}
    
  </div>
</div>
  
<!-- QQW Container END -->


        <h3>Trusted by over a million Australians</h3>

        <p>Travel Insurance Direct has been trusted by more than 1 million people. We are 100% Australian and have built TID through focus on
        <a href="http://service.travelinsurancedirect.com.au/" title="Travel Insurance Customer Service">extraordinary customer service</a>.</p>

        <h3>Money back guarantee</h3>

        <p>Save significantly on your travel insurance for Bali with TID. Our 14 day money back guarantee means you can cancel your policy and we'll give you a <a href=
        "#terms">full refund</a>*.</p>


        <p id="terms" >* &nbsp;(provided you're not making any claims and neither your trip or policy have started.)</p>
      
    </div>
    
<!--  Right Hand Column  -->
    <div class="small-12 medium-3 large-3 column">

      <h3>Going to Bali? Get Vivamos App.</h3>
      
      <div class="row">
        <div class="small-12 column text-center">
      
        </div>
      </div>
      
      <div class="row">
        <div class="small-6 medium-12 large-6 column">
          <a href="https://search.itunes.apple.com/WebObjects/MZContentLink.woa/wa/link?mt=8&amp;path=apps%2ftripwise" target="_blank"><img alt="" height="35" src="http://www.travelinsurancedirect.com.au//Media/Default/PageWithQuotePanel/app-badge-itunes.jpg" width="114"></a>
        </div>
        <div class="small-6 medium-12 large-6 column">
        <a href="https://play.google.com/store/apps/details?id=au.com.tid.tripwise" target="_blank"><img alt="" height="35" src="http://www.travelinsurancedirect.com.au//Media/Default/PageWithQuotePanel/app-badge-play.jpg" width="114"></a>
        </div>
      </div>
       
    
    </div>
    
  </div>
</div>
</article>

{% endblock %}