{% extends "base.html" %}
{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}

<article class="content-item tid-au-destinations">
  
<!-- Before Main Zone -->
<div class="header-panel blue-panel" id="header">
  <div class="row">
    <div class="small-12 column">
      
      <h1>Article Title</h1>
      
      <p>Article sub paragraph</p>
    </div>
  </div>
</div>

<!-- To wrap around content & asides -->
<div class="content-panel">
  <div class="row">
    
    <!--  Content Zone  -->
    <div class="small-12 medium-9 large-8 column">
      
      
      <!--   Content Zone Before QQW START  -->
      
      <h3>Motorbikes in Bali</h3>

      <p>It's one of the most popular overseas holiday spots for Australians - it's cheap to get there and the warm temperatures, wide variety of accommodation, well-priced food
        and shopping make it a very desirable destination.&nbsp;</p>

        <p>At TID we get lots of questions about coverage for riding motorbikes and we receive plenty of claims from customers who get Bali belly and even dengue fever. Make sure
        you read our advice for travellers to Bali and when you buy your insurance you'll get our free Tripwise app with even more tips for travelling to Bali.</p>

        <p><b>Buy your travel insurance with TID</b> so that you can travel with confidence.</p>

      <!--   Content Zone Before QQW END   -->


      
      <!--   TID QQWidget Container    -->
      <div class="row qqw-contained">
        <div class="small-12 column blue-panel">

          <!--  Quick Quote Widget START   -->

          <div id="quick-quote"></div>

          <!-- Quick Quote Widget END -->

        </div>
      </div>

      <!-- QQW Container END -->

      
      <!--   Content Zone After QQW START  -->
      <h3>Trusted by over a million Australians</h3>

      <p>Travel Insurance Direct has been trusted by more than 1 million people. We are 100% Australian and have built TID through focus on</p>
      
      <!--   Content Zone After QQW END  -->
      
    </div>
    
    <!--  Content Zone End  -->
    
    <!--  Right Hand Column Zone Start  -->
    <div class="small-12 medium-3 large-3 column">

      <h3>Right Hand Col Title</h3>
      
      <p>Some content to go in the right hand column</p>
      
       
    
    </div>
    <!--  Right Hand Column End  -->
    
  </div>
</div>
</article>

{% endblock content%}