{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}

<article class="content-item tid-au-destinations">
<div class="header-panel dark-green-panel" id="header">
  <div class="row">
    <div class="small-12 column">
      
      <ul class="breadcrumb">
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/"><span itemprop="title">Vivamos</span></a>
        </li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href=""><span itemprop="title">Destino</span></a>
        </li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href=""><span itemprop="title">Estados Unidos</span></a>
        </li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href=""><span itemprop="title">Nova Orleans</span></a>
        </li>
      </ul>
      
      <h1>O sabor de Nova Orleans: <br>Beignets e Café com leite</h1>
      
      <p>Doce, um pouco pegajoso e com perfeita crocância, o meu primeiro gosto de um beignet de Nova Orleans é aquele que agora tem estimulado um vício.</p>
    </div>
  </div>
</div>
  
<style type="text/css">
  @media all and (min-width: 40em) {
#header {
    background: url('/Media/Default/images/hero-images/cafe-du-monde-large.jpg') no-repeat center center;
    background-size: cover;
  }

}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/Default/images/hero-images/cafe-du-monde-medium.jpg') no-repeat center center;
    background-size: cover;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/Default/images/hero-images/cafe-du-monde-small.jpg') no-repeat right center;
    background-size: cover;
  }

}
</style>  

<div class="content-panel">
  <div class="row">
    <div class="small-12 medium-8 large-8 column">
      
        <p class="highlight">O chão é coberto com montes de açúcar em pó. Os pés deslizam sobre este céu de sobremesa, serpenteando em nuvens de
beignet. Uma lufada de ar tem um gosto doce com uma pitada de cafeína. É uma terra de sonhos para qualquer guloso com
gosto para doces, incluindo eu mesmo. 
        </p>  
        <p>O Café Du Monde não é algum canto desconhecido de Nova Orleans. Sua popularidade
é evidente pelos montes de açúcar em pó cobrindo o chão. E enquanto eu normalmente evito estes lugares por serem
frequentemente arruinados em sua grande popularidade, eu fui agradavelmente surpreendido por este sabor açucarado em pó
de Nova Orleans. O chão é coberto com montes de açúcar em pó. Os pés deslizam sobre este céu de sobremesa, serpenteando
em nuvens de beignet. Uma lufada de ar tem um gosto doce com uma pitada de cafeína. É uma terra de sonhos para qualquer
guloso com gosto para doces, incluindo eu mesmo. O Café Du Monde não é algum canto desconhecido de Nova Orleans. Sua
popularidade é evidente pelos montes de açúcar em pó cobrindo o chão. E enquanto eu normalmente evito estes lugares por
serem frequentemente arruinados em sua grande popularidade, eu fui agradavelmente surpreendido por este sabor açucarado
em pó de Nova Orleans.</p>
      
        <img src="http://travelblog.viator.com/wp-content/uploads/2012/11/NEW-ORLEANS-098-540x360.jpg" class="large-full-width">
        <p class="caption">Viator Travel Blog: <a href="http://travelblog.viator.com/southern-food-dictionary/">The southern food dictionary</a></p>

        <p>Nova Orleans é uma cidade de excelente comida, po'boys, muffulettas e pratos crioulos, só para citar alguns. Para
muitos, pode ser difícil escolher um alimento favorito nesta cidade. Depois de passar quase uma semana em Nova Orleans,
degustando dezenas de pratos e grupos de alimentos, o sabor mais doce da cidade para mim vem do Café Du Monde, no
mercado francês.</p>
        <p>Fundado em 1862, o Café tornou-se sinônimo de beignets e café com leite. Eu passo sob a tenda do café de listra verde e
creme com os olhos abertos para achar uma mesa. Com a quantidade de pessoas que o Café Du Monde serve, é cada homem e
cada mulher por si próprios quando se trata de pegar uma mesa. Eu asseguro meu beignet, comendo e assistindo as pessoas
empoleiradas durante a noite.</p>
        <p>Eu não preciso olhar o menu pregado ao porta-guardanapos. Você pede beignets e café com leite aqui. Os beignets do Café
du Monde vêm em um conjunto de três, como a maioria das coisas boas da vida. Os donuts estilo francês são um comentário
sobre a própria história de Nova Orleans. Fundada como um posto avançado francês em 1718, os beignets da cidade
oferecem um dos sabores mais antigos de Nova Orleans. A fundação da cidade trouxe colonos da França, Canadá e Alemanha.
Os acadianos do Canadá embalaram seu dom para fritar a massa no que viria a ser os beignets que eu consumo hoje.</p>
        <p>A antecipação me consome enquanto eu espero por minha Trindade de beignets aparecerem no tampo da mesa de mármore. Eu
assisto com inveja enquanto as mesas vizinhas têm seus primeiros gostos. Por fim, meus olhos se desviam da inveja e se
ligam nos beignets colocados à minha frente. Disfarçado sob uma montanha de açúcar em pó, eu instantaneamente lamento
estar usando uma roupa de cor escura no Café Du Monde.</p>
        <p>Claramente, eu sou um novato em beignet. </p>
        <p>Percebendo que não há maneira de evitar o açúcar em pó de cobrir-me como o beignet em minha mão, eu vou para matar.
Doce, um pouco pegajoso e com perfeita crocância, o meu primeiro gosto de um beignet de Nova Orleans é aquele que agora
tem estimulado um vício. De repente só três beignets parecem não ser o suficiente. Meus olhos me dizem que isto é
demasiado açúcar, enquanto as minhas papilas gustativas dizem o oposto. Você acha que é demais e ainda sim está
perfeito. Os beignets são frescos e recém saídos da fritadeira, ao contrário de outros alimentos mundialmente famosos
que vão pelo caminho da produção em massa, perdendo sua qualidade e conhecendo o microondas como seu criador. Para um
donut frito ser bom, tem que ser preparado no local. Não há microondas envolvido na preparação da minha sobremesa de
Nova Orleans.</p>
        <p>Para lavar os beignets, eu saboreio meu café com leite, também famoso produto do Café Du Monde. Metade misturada e
metade com leite quente, o café tem um sabor achocolatado, graças a chicória dentro de sua mistura líquida. A chicória,
a raiz da planta da endívia, foi adicionada ao café em Nova Orleans durante a Guerra Civil, quando os suprimentos eram
escassos. Ela reduz a amargura do café escuro. Um gole do café com leite do Café Du Monde é aveludado, rico e o
complemento perfeito para um beignet.</p>
        <p>Eu checo a hora de funcionamento do Café Du Monde, sabendo que este não pode ser o meu primeiro e último gosto dos
beignets com café com leite, enquanto estiver em Nova Orleans. Salvo um furacão ou o Natal, o Café Du Monde fica aberto
24 horas por dia, 7 dias por semana. Sim, os beignets são muito importantes. Nova Orleans não consegue dormir sem o
sonho e a realidade de saborear um beignet às 03:00 da manhã.</p>
        

        

        <p><b>Buy your travel insurance with TID</b> so that you can travel with confidence.</p>
        

<!--   TID QQWidget Container    -->

<div class="row qqw-contained">
  <div class="small-12 column dark-green-panel">
    
    <!--  Include QQWidget  -->
    {% include "qqw" %}
    
  </div>
</div>
  
<!-- QQW Container END -->


        <h3>Trusted by over a million Australians</h3>

        <p>Travel Insurance Direct has been trusted by more than 1 million people. We are 100% Australian and have built TID through focus on
        <a href="http://service.travelinsurancedirect.com.au/" title="Travel Insurance Customer Service">extraordinary customer service</a>.</p>

        <h3>Money back guarantee</h3>

        <p>Save significantly on your travel insurance for Bali with TID. Our 14 day money back guarantee means you can cancel your policy and we'll give you a <a href=
        "#terms">full refund</a>*.</p>


        <p id="terms" >* &nbsp;(provided you're not making any claims and neither your trip or policy have started.)</p>
      
    </div>
    
    <!--  Right Hand Column  -->
    <div class="small-12 medium-4 large-3 column">
      
      {% include "sign-up-form" %}

    </div>
    
    
  </div>
</div>
</article>

{% endblock %}