{% block title %}Health Problems{% endblock %}
{% block content %}

<article class="content-item tid-au-destinations">
<div class="header-panel green-panel" id="header">
  <div class="row">
    <div class="small-12 column">
      
      <ul class="breadcrumb">
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/"><span itemprop="title">Vivamos</span></a>
        </li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href=""><span itemprop="title">Seguro Viagem</span></a>
        </li>
      </ul>
      
      <h1>Dicas para evitar problemas de saúde durante uma viagem</h1>
      
      <p>Não custa nada tomar algumas precauções simples antes de viajar. </p>
    </div>
  </div>
</div>
  
<!--
<style type="text/css">
  @media all and (min-width: 40em) {
#header {
    background: url('/Media/Default/images/hero-images/lost-baggage-large.jpg') no-repeat center center;
    background-size: cover;
    background-position: bottom center;
  }

}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/Default/images/hero-images/lost-baggage-medium.jpg') no-repeat center center;
    background-size: cover; 
    background-position: bottom center;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/Default/images/hero-images/lost-baggage-small.jpg') no-repeat right center;
    background-size: cover;
    background-position: bottom center;
  }

}
</style>  
-->

<div class="content-panel">
  <div class="row">
    <div class="small-12 medium-8 large-8 column">
      
      <p class="highlight">Além de aproveitar a viagem, você vai voltar para casa revigorado e animado, ao invés de chegar amarelado, cansado e com aquela sensação ruim de não ter aproveitado suas férias.</p>

      <p>Seguindo nossas dicas de viagem você evitará eventuais problemas de saúde:</p>

      <ul>
        <li>Visite o seu médico de preferência 6 a 8 semanas antes de sua partida.</li>
        <li>Você pode fazer um check-up médico e odontológico antes da viagem.</li>
        <li>Obtenha todas as vacinas e medicamentos necessários para o seu local de destino.</li>
        <li>Tenha a mão um pequeno kit de primeiros socorros.</li>
        <li>Leve uma fotocópia da sua carteira de vacinação.</li>
        <li>Se for o caso, comece a tomar os remédios (contra malária por exemplo) um pouco antes da partida para verificar se há efeitos colaterais.</li>
        <li>Não se esqueça de seguir as orientações médicas (posologia, alimentação, horários, etc.).</li>
        <li>Evite mosquitos e outros insetos que picam, aplique regularmente repelentes que contenham DEET.</li>
        <li>Se proteja também durante a noite, durma sob um mosquiteiro ou solicite quarto com telas.</li>
        <li>Aplique protetor solar regularmente.</li>
        <li>Alimente-se bem, tente ingerir alimentos que foram fervidos, cozidos e/ou descascados.</li>
        <li>Lave as mãos sempre que possível e principalmente antes de comer.</li>
        <li>Respeite os limites de velocidade, use cinto de segurança, capacete e fique atento ao tráfego.</li>
        <li>Se informe antes de se aproximar ou tocar os animais locais.</li>
        <li>Caso você seja atacado ou mordido por um animal, procure um médico imediatamente.</li>
        <li>Caso você tenha febre, procure um médico imediatamente.</li>
        <li>Sempre que possível, use sapatos e calçados apropriados durante os passeios e atividades ao ar livre.</li>
        <li>Se você tiver algum problema enquanto estiver viajando, faça um check-up assim que voltar.</li>
      </ul>

      <p>Nada melhor do que um viajante saudável e uma segura, você aproveita o seu tempo descansando e curtindo, sem preocupações e sem o estresse de resolver problemas durante as suas férias.</p>
        
      <p>E fica aqui mais uma informação importante, mesmo seguindo as nossas dicas e sendo um viajante prevenido, sempre faça um seguro viagem, porque se alguma coisa sair do controle, você poderá contar com o suporte necessário para sair das situações mais adversas.</p>
  
      
      
        <p><b>Buy your travel insurance with Vivamos</b> so that you can travel with confidence.</p>
        

<!--   TID QQWidget Container    -->

<div class="row qqw-contained">
  <div class="small-12 column dark-green-panel">
    
    <!--  Include QQWidget  -->
    {% include "qqw" %}
    
  </div>
</div>
  
<!-- QQW Container END -->


        <h3>Trusted by </h3>

        <p>Vivamos has been trusted by more than </p>

        <h3>Money back guarantee</h3>

        <p>Save significantly on your travel insurance with Vivamos. Our 14 day money back guarantee means you can cancel your policy and we'll give you a <a href=
        "#terms">full refund</a>*.</p>


        <p id="terms" >* &nbsp;(provided you're not making any claims and neither your trip or policy have started.)</p>
      
    </div>
    
    <!--  Right Hand Column  -->
    <div class="small-12 medium-4 large-3 column">
      
      {% include "sign-up-form" %}

    </div>
    
  </div>
</div>
</article>

{% endblock %}