{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}

<article class="content-item tid-au-destinations">
<div class="header-panel dark-green-panel" id="header">
  <div class="row">
    <div class="small-12 column">
      
      <ul class="breadcrumb">
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/"><span itemprop="title">Vivamos</span></a>
        </li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href=""><span itemprop="title">Seguro Viagem</span></a>
        </li>

        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href=""><span itemprop="title">Bagagem extraviada</span></a>
        </li>
      </ul>
      
      <h1>Dicas para evitar que sua bagagem seja extraviada</h1>
      
      <p>Bagagem extraviada? Mala perdida? O que fazer? Você chegou e seus pertences ainda não? Perderam suas roupas, compras, presentes e a companhia aérea não sabe dizer o que está acontecendo?</p>
    </div>
  </div>
</div>
  
<style type="text/css">
  @media all and (min-width: 40em) {
#header {
    background: url('/Media/Default/images/hero-images/lost-baggage-large.jpg') no-repeat center center;
    background-size: cover;
    background-position: bottom center;
  }

}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/Default/images/hero-images/lost-baggage-medium.jpg') no-repeat center center;
    background-size: cover; 
    background-position: bottom center;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/Default/images/hero-images/lost-baggage-small.jpg') no-repeat right center;
    background-size: cover;
    background-position: bottom center;
  }

}
</style>  

<div class="content-panel">
  <div class="row">
    <div class="small-12 medium-8 large-8 column">
      
      <p class="highlight">Isso é mais comum do que se imagina. O número de itens extraviados representa 1% de toda a bagagem que circula anualmente, o que significa que cerca de 2 passageiros por voo passarão por esse transtorno. </p>

      <p>Dos mais de 20 milhões de itens que as companhias aéreas do mundo todo perdem por ano:</p>

      <ul>
        <li>52% são extraviados durante a transferência de aeronaves (conexões);</li>
        <li>16% não chegam nem mesmo a ser transportados até um avião;</li>
        <li>13% são perdidos por causa de um erro na emissão do bilhete;</li>
        <li>7% são perdidos por causa de um erro durante a carga ou descarga de bagagens no avião;</li>
        <li>6% estão presos na alfândega ou com problemas de peso;</li>
        <li>3% são perdidos devido a problemas de manipulação de bagagens no aeroporto de destino;</li>
        <li>3% são extraviados por causa de um erro de identificação;</li>
      </ul>

      <p>Para ajudá-lo a evitar esse problema, nós preparamos uma lista com algumas dicas valiosas para você:</p>
        
      <h4>Ao fazer as malas</h4>
      <p>Coloque seus dados de contato e o seu itinerário dentro de sua bagagem, dessa forma você ainda poderá ser localizado mesmo se as etiquetas externas forem retiradas ou perdidas.</p>
  
      
      
      <h4>Identifique sua bagagem</h4>
      <p>Identifique todos os itens com etiquetas de bagagem claras e resistentes. Não esqueça de informar seus números de telefone, tanto o de sua residência quanto o do destino, se possível. No lugar do endereço residencial, alguns viajantes preferem informar um endereço comercial. Lembre-se de manter todos os dados sempre atualizados.</p>

      <h4>Diferencie suas malas</h4>
      <p>Algo discreto, não precisa exagerar, mas uma fita, adesivos ou etiquetas de bagagem coloridas reduzem o risco de sua bagagem ser retirada por engano por um outro passageiro. Além de facilitar a sua vida na hora de identificar os seus pertences na esteira rolante do aeroporto.</p>

      <h4>Cadeados e cintas</h4>
      <p>Cadeados e cintas para malas de viagem são úteis para evitar que sua mala se abra sozinha ou por engano, além de ser um obstáculo a mais para eventuais furtos, mas lembre-se que alguns destinos, como os Estados Unidos, possuem especificações sobre os tipos de trancas e fechaduras que podem ser usadas.</p>

      <h4>Ao fazer o check-in</h4>
      <p>Retire todas as etiquetas de outras companhas aéreas e de antigas viagens. Preste atenção durante o procedimento de check-in para ver se todas as malas foram identificadas corretamente.</p>
      <div class="panel">
        <p><strong>Importante:</strong> mantenha os comprovantes das malas despachadas, normalmente são adesivos colados no seu bilhete de embarque. No caso de extravio de bagagem esses comprovantes serão muito úteis para ajudar a localização e recuperação dos seus pertences.
        Além disso, tente chegar ao aeroporto com bastante tempo de antecedência. Um check-in feito muito próximo da hora do embarque aumenta o risco de extravio de bagagem consideravelmente. </p>
      </div>
      <p></p>
      <h4>Conexões</h4>
      <p>Tente evitar as conexões com pouco tempo entre os voos, quanto mais tempo de antecedência, menor o risco de sua bagagem embarcar para outro lugar. Não se esqueça de perguntar no check-in se a sua bagagem será despachada até o destino final ou se você vai precisar recolher a sua bagagem e fazer outro check-in no aeroporto em que você fará a conexão.</p>

      <h4>Bagagem de mão</h4>
      <p>Para viagens curtas, considere viajar apenas com a bagagem de mão. Para viagens mais longas, coloque objetos de valor e algumas peças de roupa essenciais em sua bagagem de mão para algum imprevisto, nunca se sabe. Isso pode fazer uma grande diferença enquanto você estiver esperando as suas malas chegarem.</p>





        <p><b>Buy your travel insurance with Vivamos</b> so that you can travel with confidence.</p>
        

<!--   TID QQWidget Container    -->

<div class="row qqw-contained">
  <div class="small-12 column dark-green-panel">
    
    <!--  Include QQWidget  -->
    {% include "qqw" %}
    
  </div>
</div>
  
<!-- QQW Container END -->


        <h3>Trusted by </h3>

        <p>Vivamos has been trusted by more than </p>

        <h3>Money back guarantee</h3>

        <p>Save significantly on your travel insurance with Vivamos. Our 14 day money back guarantee means you can cancel your policy and we'll give you a <a href=
        "#terms">full refund</a>*.</p>


        <p id="terms" >* &nbsp;(provided you're not making any claims and neither your trip or policy have started.)</p>
      
    </div>
    
    <!--  Right Hand Column  -->
    <div class="small-12 medium-4 large-3 column">
      
      {% include "sign-up-form" %}

    </div>
    
  </div>
</div>
</article>

{% endblock %}