{% block title %}Seguro Viagem{% endblock %}
{% block content %}

<section class="seguroViagem">

  <div class="seguroViagem-hero">
    <div class="row">
      <div class="medium-12 large-8 columns">
        <div class="BreadCrumb BreadCrumb--alt">
          <ul>
            <li>
              <a class="BreadCrumb-link" href="#">Vivamos</a>
            </li>
            <li>
              <a class="BreadCrumb-link" href="#">Seguro Viagem</a>
            </li>
          </ul>
        </div>
        <h1 class="seguroViagem-heroTitle">Seguro Viagem para que você aproveite o melhor do mundo.</h1>
        <p class="seguroViagem-heroCopy">Um Seguro Viagem criado por pessoas que viajam assim como você. Nossos planos e coberturas garantem a sua tranquilidade enquanto você aproveita o melhor que o mundo tem a oferecer.</p>
      </div>
    </div>
    <div class="seguroViagem-heroQqw">
      <div class="qqw-alt">
        {% include "qqw-static" %}
      </div>
    </div>
  </div>

  <aside class="seguroViagem-features">
    <div class="row">
      <div class="small-12 columns">
        <ul class="seguroViagem-featuresInner">
          <li class="seguroViagem-featuresBenefits has-icon-sprite">
            Melhor Custo x Benefício
          </li>
          <li class="seguroViagem-featuresAssistance has-icon-sprite">
            Assistência Emergencial 24h
          </li>
          <li class="seguroViagem-featuresTravelsmart has-icon-sprite">
            Travel Smart Mantenha-se informado
          </li>
          <li class="seguroViagem-featuresFamilies has-icon-sprite">
            Cobertura Familiar Cobre 2 adultos e até 4 dependentes
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <section class="seguroViagem-details">
    <div class="row">
      <div class="small-12 medium-9 columns">
        <section class="seguroViagem-subSection">
          <h2>Planos e Cobertura</h2>
          <p class="seguroViagem-largeCopy">Um Seguro Viagem criado por pessoas que viajam assim como você. Nossos planos e coberturas garantem a sua tranquilidade enquanto você aproveita o melhor que o mundo tem a oferecer.</p>
          <table class="seguroViagem-detailsTable">
            <thead>
              <tr>
                <th>Quando...</th>
                <th>Nós...</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Você precisar de Assistência Médica Emergencial durante a sua viagem.</td>
                <td>Temos cobertura específica para gastos com consultas médicas. E se caso você tenha alguma despesa com remédios, fique tranquilo, você também estará coberto. Veja os limites da cobertura do seu plano e continue viajando!</td>
              </tr>
              <tr>
                <td>Você precisar de ajuda para localizar as suas malas.</td>
                <td>Entraremos em contato com companhia aérea para localizar a sua bagagem. Se a gente conseguir, enviaremos até o local que você solicitar. Se as suas malas não forem encontradas, você receberá um crédito para comprar roupas novas seguir sua viagem.</td>
              </tr>
              <tr>
                <td>O seu vou atrasar e você precisar de ajuda.</td>
                <td>Temos uma cobertura que ajuda a pagar as despesas com hospedagem, alimentação ou até mesmo o seu transporte até o hotel indicado a partir da 4ª hora de atraso do seu voo. Ou seja, se o seu voo atrasar por mais de 4 horas você está coberto!</td>
              </tr>
              <tr>
                <td>Você precisar ser levado até um local de atendimento médico durante a sua viagem.</td>
                <td>Pagamos as despesas de transporte do local onde você estiver para o local de atendimento médico mais próximo. E se por alguma razão você precisar voltar para casa, não se preocupe, a gente cuida de tudo para você.</td>
              </tr>
              <tr>
                <td colspan="2">Clique aqui e veja todas as informações sobre os nossos planos, coberturas, riscos excluídos e saiba como vamos ajudar você quando mais precisar.</td>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="seguroViagem-subSection">
          <h2>Cobertura para Esportes e Atividades de Aventura</h2>
          <p class="seguroViagem-largeCopy">Você gosta de esportes e aventura? Os planos da Vivamos cobrem diversas atividades que você pode fazer durante as suas férias, entre um passeio, uma atração turística ou uma visita ao seu restaurante favorito. E o melhor, você não precisa pagar nada a mais por isso.</p>
          <div class="row">
            <div class="small-12 medium-6 large-3 columns seguroViagem-detailsMediaBlocks">
              <div class="seguroViagem-detailsTrekking MediaBlock MediaBlock--vertical">
                <span class="MediaBlock-media"></span>
                <span class="MediaBlock-detail">
                  Trekking &amp; Caminhadas
                </span>
              </div>
            </div>
            <div class="small-12 medium-6 large-3 columns seguroViagem-detailsMediaBlocks">
              <div class="seguroViagem-detailsDiving MediaBlock MediaBlock--vertical">
                <span class="MediaBlock-media"></span>
                <span class="MediaBlock-detail">
                  Scuba Diving &amp; Mergulho
                </span>
              </div>
            </div>
            <div class="small-12 medium-6 large-3 columns seguroViagem-detailsMediaBlocks">
              <div class="seguroViagem-detailsSurfing MediaBlock MediaBlock--vertical">
                <span class="MediaBlock-media"></span>
                <span class="MediaBlock-detail">
                  Kite Surf
                </span>
              </div>
            </div>
            <div class="small-12 medium-6 large-3 columns seguroViagem-detailsMediaBlocks">
              <div class="seguroViagem-detailsSkiing MediaBlock MediaBlock--vertical">
                <span class="MediaBlock-media"></span>
                <span class="MediaBlock-detail">
                  Esqui &amp; Snowboard
                </span>
              </div>
            </div>
          </div>
          <p>É importante saber se você estará coberto para fazer as atividades que você gosta durante sua viagem de lazer. Conheça as condições e a lista completa de <a href="#">Esportes e Atividades de Aventura</a>.</p>
        </section>
        <section class="seguroViagem-subSection">
          <h2>Se alguma coisa der errado</h2>
          <p class="seguroViagem-largeCopy">É sempre bom poder contar com alguém pronto para fazer o que for preciso para que as coisas voltem ao normal. Nós estamos aqui para isso, para que você aproveite verdadeiramente a sua viagem enquanto a gente resolve os seus contratempos.</p>
          <div class="row">
            <div class="seguroViagem-detailsList seguroViagem-detailsAccidents has-icon-sprite small-12 medium-6 columns">
              <h3>Doenças e Acidentes</h3>
              <ul>
                <li>
                  <a href="#">O que fazer se acontecer um acidente.</a>
                </li>
                <li>
                  <a href="#">O que fazer se você ficar doente.</a>
                </li>
                <li>
                  <a href="#">O que fazer se alguém coberto pelo Seguro Viagem morrer.</a>
                </li>
              </ul>
            </div>
            <div class="seguroViagem-detailsList seguroViagem-detailsProblems has-icon-sprite small-12 medium-6 columns">
              <h3>Problemas com a bagagem</h3>
              <ul>
                <li>
                  <a href="#">O que fazer se a sua bagagem não chegar ao seu lugar de destino.</a>
                </li>
                <li>
                  <a href="#">Como fazer para localizar a minha bagagem.</a>
                </li>
                <li>
                  <a href="#">O que fazer se o seu passaporte for roubado.</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="seguroViagem-detailsList seguroViagem-detailsCancelations has-icon-sprite small-12 medium-6 columns">
              <h3>Cancelamentos e Atrasos</h3>
              <ul>
                <li>
                  <a href="#">O que fazer se você não puder viajar devido a uma doença, lesão ou acidente.</a>
                </li>
                <li>
                  <a href="#">O que fazer se você precisar cancelar a sua viagem.</a>
                </li>
                <li>
                  <a href="#">O que fazer se o seu voo estiver atrasado.</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="seguroViagem-claims seguroViagem-subSection">
          <h3>Sinistros, Reembolsos e Indenizações</h3>
          <p class="seguroViagem-largeCopy">A melhor maneira para resolver os seus problemas é deixar as regras bem claras e fazer as coisas da maneira mais simples possível. É por isso que com a Vivamos você só precisa preencher um formulário para iniciar seu pedido de reembolso. Veja como é simples e fácil solicitar reembolsos em nossa página <a href="#">Sinistros, Reembolsos e Indenizações</a>.</p>
          <div class="seguroViagem-claimsTestimonial MediaBlock">
            <span class="MediaBlock-media">
              <span>True Claims</span>
            </span>
            <span class="MediaBlock-detail">
              <span class="seguroViagem-claimsTestimonialQuotes has-icon-sprite"></span>
              <p>I fell off a roof in Argentina and shattered my arm. Waking up in a local hospital was terrifying. I can’t imagine navigating that experience without World Nomads.</p>
              <span>– JH (Argentina)</span>
            </span>
          </div>
        </section>
      </div>
      <aside class="seguroViagem-sideColumn small-12 medium-3 columns">
        <h3>Encontre nesta página:</h3>
        <ul class="seguroViagem-sideColumnNav">
          <li>
            <a href="#">Planos e Cobertura</a>
          </li>
          <li>
            <a href="#">Saiba como usar um Seguro Viagem</a>
          </li>
          <li>
            <a href="#">Esportes e Atividades</a>
          </li>
          <li>
            <a href="#">Aviso de Sinistro</a>
          </li>
          <li>
            <a href="#">Assistência Emergencial 24h</a>
          </li>
        </ul>
        <div class="seguroViagem-newsletter">
          <h3 class="seguroViagem-newsletterTitle">Newsletter</h3>
          <p>Receba ofertas e informações exclusivas por e-mail</p>
          <form>
            <input type="email" placeholder="Digite seu e-mail...">
            <button class="seguroViagem-newsletterSubmit button primary small" type="submit">Inscreva-se</button>
          </form>
        </div>
      </aside>
    </div>
  </section>

</section>

{% endblock %}