{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}

<article class="content-item tid-au-destinations">
<div class="header-panel green-panel" id="header">
  <div class="row">
    <div class="small-12 column">
      
      <ul class="breadcrumb">
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/"><span itemprop="title">Vivamos</span></a>
        </li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href=""><span itemprop="title">Seguro Viagem</span></a>
        </li>

        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href=""><span itemprop="title">Viagem for cancelada</span></a>
        </li>
      </ul>
      
      <h1>O que fazer se minha viagem for cancelada?</h1>
      
      <p>A melhor maneira de reduzir o prejuízo caso você precise cancelar uma viagem é fazer um Seguro Viagem assim que você comprar as passagens de avião e reservar a hospedagem. </p>
    </div>
  </div>
</div>
  

</style>  

<div class="content-panel">
  <div class="row">
    <div class="small-12 medium-8 large-8 column">
      
      <p class="highlight">Muitos seguros possuem o benefício contra o cancelamento de sua viagem, verifique antes de escolher o melhor plano para você!</p>

      <p>O cancelamento de viagem é tão simples quanto parece: se a viagem for cancelada, a sua seguradora reembolsará os custos com transporte e serviços de alojamento que você adquiriu com antecedência.</p>
      
      <p>O seguro de cancelamento de viagem também pode cobrir a diferença entre o valor integral de sua compra e o reembolso parcial da companhia aérea ou hospedagem. As taxas de cancelamento para cursos ou outros serviços que estavam nos seus planos de viagem também poderão ser cobertos. Consulte sempre as condições de seu plano!</p>
      
      <p>Este tipo de cobertura poderá ser utilizado se você tiver que cancelar uma viagem por causa de:</p>

      <ul>
        <li>Doença ou lesão de um parente próximo súbita (desde que a pessoa esteja hospitalizada, não tiver mais do que 85 anos e residir no Brasil)</li>
        <li>Um acidente com você ou um companheiro de viagem</li>
        <li>Um desastre natural no seu destino ou em casa (desde que as passagens, hospedagem e o seguro sejam adquiridos antes de um aviso oficial sobre o desastre natural)</li>
      </ul>

      <p>Se qualquer uma dessas coisas acontecerem e você não tiver um Seguro Viagem que cubra o cancelamento, você perderá todo o dinheiro gasto em voos, alojamento e passeios.</p>
        
      <h4>Ao fazer as malas</h4>
      <p>Coloque seus dados de contato e o seu itinerário dentro de sua bagagem, dessa forma você ainda poderá ser localizado mesmo se as etiquetas externas forem retiradas ou perdidas.</p>
  
      
      
      <h4>Quando comprar o Seguro Viagem com cancelamento de viagem?</h4>
      <p>Você deve realmente comprar o seu Seguro Viagem no mesmo dia em que você comprar as passagens de avião (e não na semana antes de viajar), para que qualquer evento que possa resultar em uma viagem cancelada seja coberto antes mesmo de você sair do país.</p>

      <h4>As condições médicas e o cancelamento de viagem</h4>
      <p>Apesar de seguro de viagem direta abrange algumas condições médicas pré-existentes como padrão, sem a necessidade de avaliação, certifique-se de cobrir quaisquer condições médicas pré-existentes quando se considera o seguro de cancelamento de viagem, como poucas seguradoras vão aceitar a recorrência de uma condição conhecida como uma razão válida para uma reclamação.</p>
      

        <p><b>Buy your travel insurance with Vivamos</b> so that you can travel with confidence.</p>
        

<!--   TID QQWidget Container    -->

<div class="row qqw-contained">
  <div class="small-12 column dark-green-panel">
    
    <!--  Include QQWidget  -->
    {% include "qqw" %}
    
  </div>
</div>
  
<!-- QQW Container END -->


        <h3>Trusted by </h3>

        <p>Vivamos has been trusted by more than </p>

        <h3>Money back guarantee</h3>

        <p>Save significantly on your travel insurance with Vivamos. Our 14 day money back guarantee means you can cancel your policy and we'll give you a <a href=
        "#terms">full refund</a>*.</p>


        <p id="terms" >* &nbsp;(provided you're not making any claims and neither your trip or policy have started.)</p>
      
    </div>
    
    <!--  Right Hand Column  -->
    <div class="small-12 medium-4 large-3 column">
      
      {% include "sign-up-form" %}

    </div>
    
  </div>
</div>
</article>

{% endblock %}